<header class="bg-info" style="background-color: #6e83d3;">
    <div class="container-xl px-5">
        <div class="row align-items-center">
            <div class="col-md-10">
                <h1 class="text-white py-3 mb-0 display-6 text-center fw-light">
                    <i class="material-icons">library_add</i>
                    Enregistrer un mémoire</h1>
            </div>
         
        </div>
    </div>
</header>



<div class="row g-0">
    <div style="margin-left: 15%;" class="col-lg-7 col-md-7">
        <div class="card-body p-5">

            <!-- Login submission form-->
            <form class="mb-5" [formGroup]="form" >
                
                    <div class="mb-4">
                        <div class="form-group">
                            <label for="type">Année académique</label>
                            <select class="form-control" formControlName="annee">
                                <option value="">Sélectionner </option>
                                <option *ngFor="let annee of listeAnnees" [value]="annee.numeroDebut">{{
                                    annee.code}}</option>
                            </select>
                            <div *ngIf="form.get('annee')?.invalid && form.get('annee')?.touched">
                                <small class="text-danger" *ngIf="form.get('annee')?.hasError('required')"> {{
                                    errorMessages.required }} </small>
    
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-group">
                            <label for="type">Département </label>
                            <select class="form-control"   formControlName="departement">
                                <option value="">Sélectionner</option>
                                <option *ngFor="let departement of listeDepartements" [value]="departement.code">{{ departement.code }}</option>
                            </select>
                        </div>
                        <div *ngIf="form.get('departement')?.invalid && form.get('departement')?.touched">
                            <small class="text-danger" *ngIf="form.get('departement')?.hasError('required')"> {{ errorMessages.required }} </small>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-group">
                            <label for="type">Parcours </label>
                            <select class="form-control"  formControlName="parcours">
                                <option value="">Sélectionner</option>
                                <option *ngFor="let parcour of listeParcours" [value]="parcour.label">{{
                                    parcour.label }}</option>
                            </select>
                        </div>
                        <div *ngIf="form.get('parcours')?.invalid && form.get('parcours')?.touched">
                            <small class="text-danger" *ngIf="form.get('parcours')?.hasError('required')"> {{
                                errorMessages.required }} </small>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-group">
                            <label >Thème</label>
                            <textarea name="" id="" cols="30" rows="2"  formControlName="theme" placeholder="votre theme" class="form-control"></textarea>
                    
                            <div *ngIf="form.get('theme')?.invalid && form.get('theme')?.touched">
                                <small class="text-danger" *ngIf="form.get('theme')?.hasError('required')"> {{
                                    errorMessages.required }} </small>
    
                            </div>
                        </div>
                        
                    </div>

                    <div class="mb-4">
                        <div class="form-group">
                            <label >Mots-clés</label>
                            <textarea name="" id="" cols="30" rows="2"  formControlName="keyworlds" placeholder="Ex:mot1; mot2;.." class="form-control"></textarea>

                            <div *ngIf="form.get('keyworlds')?.invalid && form.get('keyworlds')?.touched">
                                <small class="text-danger" *ngIf="form.get('keyworlds')?.hasError('required')"> {{
                                    errorMessages.required }} </small>
                            </div>
                        </div>
                        
                    </div>

                    <div class="mb-4">
                        <div class="form-group">
                            <label for="type">Présenté par :</label>
                            <select  class="form-control" formControlName="etudiant">
                                <option value="">Sélectionner l'étudiant</option>
                                <option *ngFor="let item of etudiant" [value]="item.id">{{item.matricule + "  "+item.nom}} </option>
                            </select>
                        </div>
                        <div *ngIf="form.get('etudiant')?.invalid && form.get('etudiant')?.touched">
                            <small class="text-danger" *ngIf="form.get('etudiant')?.hasError('required')"> {{
                                errorMessages.required }} </small>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-group">
                            <label >Sous la supervision de:</label>
                            <select  class="form-control" formControlName="pjury">
                                <option value="">President du jury*</option>
                                <option *ngFor="let jury of listeJury" [value]="jury.id"> {{ jury.grade + ". " +jury.name + " ( "+jury.statut + " ) "}} </option>
                            </select>
                            <br>
                           <select  class="form-control" formControlName="examinateur">
                                <option value="">Examinateur*</option>
                                <option *ngFor="let jury of listeJury" [value]="jury.id"> {{ jury.grade + ". " +jury.name + " ( "+jury.statut + " ) "}} </option>

                            </select>
                           <br>
                           <select  class="form-control" formControlName="rapporteur">
                                <option value="">Rapporteur*</option>
                                <option *ngFor="let jury of listeJury" [value]="jury.id"> {{ jury.grade + ". " +jury.name + " ( "+jury.statut + " ) "}} </option>

                          </select>
                          
                            <div *ngIf="form.get('pjury')?.invalid && form.get('pjury')?.touched">
                                <small class="text-danger" *ngIf="form.get('pjury')?.hasError('required')"> {{
                                    errorMessages.required }} </small>
    
                            </div>
                        </div>
                        
                    </div>

                   <!-- Fichier numérique du mémoire -->
                    <div class="mb-4">
                        <div class="form-group">
                            <label>Fichier numérique du mémoire</label>
                            <input type="file" (change)="readUploadFile($event)" class="form-control"  >
                        </div>
                        <!-- <small *ngIf="fileError" class="text-danger">Aucun fichier sélectionné</small> -->
                    </div>
               
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button class="btn btn-info text-white" type='submit' (click)="uploadFileData($event)" >Archiver</button>
                </div>
            </form>
            <!-- Auth card message-->

         </div>

    </div>
</div>