
<div id="layoutAuthentication">
    <!-- Layout content-->
    <div id="layoutAuthentication_content">
        <!-- Main page content-->
        <main>
            <!-- Main content container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-10 col-xl-10 col-lg-12">
                        <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                            <div class="row g-0">
                                <div class="col-lg-5 col-md-6">
                                    <div class="card-body p-5">
                                        <!-- Auth header with logo image-->
                                        <div class="text-center">
                                            <img class="mb-3" src="assets/images/logo_univ_bertoua.jpg" alt="..."
                                                style="height: 48px">
                                            <h1 class="display-5 mb-0">Nouveau compte</h1>
                                            <div class="subheading-1 mb-5">Renseigner les champs indiqués </div>
                                        </div>

                                        <!-- Login submission form-->
                                        <form method="post" class="mb-5" [formGroup]="authForm" id="authForm">

                                            <div class="mb-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Nom & Prenom </label>
                                                    <input type="text" class="form-control" name="nom" formControlName="username" 
                                                        id="exampleInputEmail1" aria-describedby="emailHelp"
                                                        placeholder="Enter username">
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Adresse mail</label>
                                                    <input type="email" class="form-control" name="email" formControlName="email" 
                                                        id="exampleInputEmail1" aria-describedby="emailHelp"
                                                        placeholder="Enter email">
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Mot de passe</label>
                                                    <input type="password" class="form-control" formControlName="password"  
                                                        id="exampleInputPassword1" placeholder="Password">
                                                  
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Confirmer votre mot de passe</label>
                                                    <input type="password" class="form-control"  formControlName="confirmPassword" 
                                                        id="exampleInputPassword1" placeholder="confirmPassword">
                                                  
                                                </div>
                                            </div>

                                            
                                            <div>
                                                <button class="btn btn-success mdc-ripple-upgraded" type='submit' (click)="onSubmit()" >S'inscrire</button>
    
                                            </div>
                                        </form>
                                        <!-- Auth card message-->
                                        <div class="text-center ">
                                            <a
                                                class="small fw-500 text-decoration-none text-success float-end"
                                                routerLink="/login">Deja un compte? Se connecter!
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Background image column using inline CSS-->
                                <div class="col-lg-7 col-md-6 d-none d-md-block"
                                    style="background-image: url('assets/images/archive1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center">
                                    <!-- <img class="mb-3" src="assets/images/logo_univ_bertoua.jpg" alt="..."
                                        style="height: 48px; margin-left: 45%; margin-top: 5%;"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>

