<ng-container *ngIf="!isLoginPage && !isRegisterPage && !isRootPage">
  <app-header></app-header>
  <div id="layoutDrawer">
      <app-sidebar></app-sidebar>
      <div id="layoutDrawer_content">
          <main>
              <router-outlet></router-outlet>
          </main>
          <app-footer></app-footer>
      </div>
  </div>
</ng-container>


<ng-container *ngIf="isLoginPage || isRegisterPage">
  <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="isRootPage">
  <app-auth></app-auth>
</ng-container>
