<div class="container-xl p-5">
    <div class="row justify-content-between align-items-center mb-5">
        <div class="col flex-shrink-0 mb-5 mb-md-0">
            <h1 class="display-4 mb-0">Boite de reception des fichiers</h1>
            <div class="text-muted">Recap. </div>
        </div>

    </div>


    <div class="card card-raised">
        <div class="card-header bg-info text-white px-4">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <h2 class="card-title text-white mb-0">
                        <button class="btn btn-md btn-info btn-text-white" type="button" routerLink="sendfile/newsendfile">Nouveau ?</button>
                        <!-- <button class="btn btn-md btn-success btn-text-white" type="button" routerLink="/administrator/parcours/enregisrement/multiple">Ajout multiple</button> -->
                    </h2>
                
                    <div class="card-subtitle"></div>
                </div>
            </div>
        </div>

        <div class="card-body p-4">
            <div class="datatable-container"> 
              

                <div id="contentToConvert" class="container" >
             

                <table id="table-data" class="display table table-striped " style="width:100%">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Objet</th>
                            <th>Expediteur </th>
                            <th>Pieces-jointes</th>
                            <th>Date </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allBoiteFichier; let i = index;">
                            <td ><input type="checkbox" /></td>
                            <td ><a>{{item.nom}}</a></td>
                            <td ><a>{{item.emailExpediteur}}</a></td>
                            <td >
                                <a [href]="item.urlsJointPieces" >
                                    <button class="btn btn-success"> 
                                        <i class="fa fa-download"></i>
                                    </button> 
                                </a>
                            </td>
                            <td class="time">{{item.date| date: 'yyyy-MM-dd'}} à{{item.date| date: ' HH:mm:ss'}}</td>
                           
                            <td class="action">
                                <a (click)="remove(item.id)" >
                                    <button class="btn btn-danger">
                                        <i  class="fa fa-trash"  style="color: white;"></i>
                                    </button>
                                  
                                </a>
                            </td>
                            
                        </tr> 
                    </tbody>
                </table>
    

                </div>
            </div>
        </div>
    </div>
</div>